body {
  background-color: black;
}

.App {
  text-align: center;
  color: whitesmoke;
  background-color: rgb(41,41,41);
}

.SimpleHeader {
  margin: 20px;
  padding: 5px;
}

.SimpleTask {
  margin: 15px auto;
  padding: 5px;
  border: 1px solid white;
  box-shadow: 2px 1px 5px white;
}
